'.editor':
  'alt-c': 'custom:console-log'
  'alt-a': 'custom:ansi-color'
  'alt-;': 'custom:semicolon-end'
  'alt-l': 'custom:semicolon-inside'
  'alt-x': 'custom:remove-block'

'atom-text-editor':
  'ctrl-shift-M': 'bracket-matcher:select-inside-brackets'
  'alt-shift-M': 'markdown-preview:toggle'
  'alt-shift-G': 'open-on-github:file'

'atom-text-editor:not([mini])':
  'ctrl-shift-M': 'unset!'
  'ctrl-shift-M': 'bracket-matcher:select-inside-brackets'
